body{
  background: radial-gradient(ellipse, #3a5c35, #1a2e1a, #0f1f0f);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card{
  background-color: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);

  width: 90%;
  max-width: 400px;

  border-radius: 14px;
  padding: 20px;

  text-align: center;
}
h2{
    margin-left:30px;
    color:white;
     font-family:'Times New Roman', Times, serif ;
     line-height:5px;
     text-align: center;
     line-height:6px;
}

h3{
  display:block;
  text-align:center;
  margin-top:10px;
   color: rgb(22, 17, 17);
}
#name::placeholder{
    color:rgb(18, 29, 18);
}
#name{
    color:white;
    border-radius:8px;
    background-color:rgba(255,255,255,0.2);
    border-color:black;
    border:1px solid rgba(255,255,255,0.5);
    padding:10px;
    line-height:1px;
    width:80%;
    margin:10px 0;
    font-size: 14px;
}
#mail::placeholder{
    color:rgb(18, 29, 18);
}
#mail{
    color:white;
    border-radius:8px;
    background-color:rgba(255,255,255,0.2);
    border-color:black;
    border:1px solid rgba(255,255,255,0.5);
    padding:10px;
    line-height:1px;
    width:80%;
    margin:10px 0;
}
#password::placeholder{
    color:rgb(18, 29, 18);
}
#password{
    color:white;
    border-radius:8px;
    background-color:rgba(255,255,255,0.2);
    border-color:black;
    border:1px solid rgba(255,255,255,0.5);
    padding:10px;
    line-height:1px;
   width:80%;
    margin:10px 0;
}


.login{
    border-radius:8px;
    letter-spacing:2px;
    transition:all 0.3s ease;
    width:200px;
    padding:7px;
    width:100%;
    margin-top:15px;
     background-color: #0f1f0f;
     color:white;
     cursor:pointer;
     font-size:20px;
}
.login:hover{
    background-color:#0a2a1a;
    transform: scale(1.03);
}

.row{
    cursor: pointer;
     color:whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
@media (max-width: 768px){
  .card{
    width: 95%;
    padding: 15px;
  }

  h2{
    font-size: 20px;
  }
}
