body{
    background: radial-gradient(ellipse, #3a5c35, #1a2e1a, #0f1f0f);
}
.card{
    background-color: rgba(255,255,255,0.15); 
    backdrop-filter: blur(12px);
   border: 1px solid rgba(255,255,255,0.35);
   width:600px;
   border-radius:20px;
   margin-left:350px;
   margin-top:150px;
  
}
h1{
    margin-left:30px;
    color:white;
     font-family:'syne',sans-serif;
     
}
p{
     margin-left:30px;
    color: rgb(31, 30, 30);
    font-size:20px;
    line-height:2px;
}
h3{
   margin-left:200px;
   color: rgb(22, 17, 17);
}
#name{
    background-color:rgb(206, 203, 203);
    border-color:black;
    border-style:groove;
    padding:4px;
     margin-left:200px;
}
#mail{
    background-color:rgb(206, 203, 203);
    border-color:black;
    border-style:groove;
    padding:4px;
     margin-left:200px;
}
#password{
    background-color:rgb(206, 203, 203);
    border-color:black;
    border-style:groove;
    padding:4px;
    margin-left:200px;
}
